.no-border,.no-border:focus {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    outline: none;
}

textarea {
  font-size: 17px;
}

.panel-sticky > .panel-heading {
  background-color: #ccc;
}

.padded {
  padding-top: 4px;
  padding-bottom: 4px;
}
